<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- Browser sends a GET request to this path -->
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1 class="text-2xl">Todos</h1>
  <form action="/todos/createTodo" method="POST">
    <input type="text" placeholder="Enter Todo Item" name="todoItem">
    <button type="submit">Add Todo</button>
  </form>
  <ul>
    <% todos.forEach(el=> {%>
      <li class="todo__item" data-id="<%= el.id %>">
        <span class="<%= el.completed ? 'todo__item--completed' : 'todo__item--not-completed'%>">
          <%= el.todo %>
        </span>
        <button class="todo__delete-button"><i data-lucide="trash-2"></i></button>
      </li>
      <% }) %>
  </ul>
  <h2>Things left to do: <%= left %>
  </h2>
  <script src="https://unpkg.com/lucide@latest"></script>
  <!-- Browser send a GET request to use the main.js -->
  <script src="/js/main.js"></script>
  <script>
    lucide.createIcons();
  </script>
</body>
</html>