/* .todo__items {
  display: flex;
  flex-direction: column;
  gap: 16px;
} */

.todo__item {
  display: flex;
  gap: 8px;
  padding-block: 8px;
  align-items: center;
}

.todo__delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  font-size: 14px;
  cursor: pointer;
  border: #f3f4f6;
  border-radius: 8px;
}

button [data-lucide] {
  color: #fb2c36;
  width: 16px;
  height: 16px;
}

.todo__delete-button:hover {
  background-color: #e5e7eb;
}
