.todo__item {
  display: flex;
  gap: 8px;
  padding-block: 8px;
  align-items: center;
}

.todo__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  font-size: 14px;
  cursor: pointer;
  border: #f3f4f6;
  background: #f3f4f6;
  border-radius: 8px;
}

button [data-lucide='trash-2'] {
  color: #fb2c36;
  width: 16px;
  height: 16px;
}

a [data-lucide='file-pen'] {
  color: green;
  width: 16px;
  height: 16px;
}

.todo__button:hover {
  background-color: #e5e7eb;
}

.todo__item--completed {
  text-decoration: line-through;
}

.todo__item--not-completed {
  text-decoration: none;
}

.todo__edit-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  border: none;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 8px;
  line-height: 1;
  font-size: 1rem;
  font-family: 'Times New Roman', Times, serif;
}

.todo__edit-btn--confirm {
  background-color: green;
}

.todo__edit-btn--delete {
  background: red;
}

.todo__edit-btn--delete:link {
  text-decoration: none;
}
